<%= form_for [:admin, @wedding] do |f| %>
  <% if @wedding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wedding.errors.count, "error") %> prohibited this wedding from being saved:</h2>

      <ul>
      <% @wedding.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.text_field :groom_name, class: 'form-control', placeholder: 'Nombre del novio' %>
  </div>
  <div class="form-group">
    <%= f.text_field :groom_surname, class: 'form-control', placeholder: 'Apellidos del novio' %>
  </div>
  <div class="form-group">
    <%= f.text_field :bride_name, class: 'form-control', placeholder: 'Nombre de la novia' %>
  </div>
  <div class="form-group">
    <%= f.text_field :bride_surname, class: 'form-control', placeholder: 'Apellidos de la novia' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
