<div class="media">
  <%= link_to guest_path(message.attendee), class: 'pull-left' do %>
      <%= image_tag message.attendee.avatar.url(:thumb), class: "media-object", alt: message.attendee.username %>
  <% end %>
  <h3 class="media-heading"><%= link_to guest_path(message.attendee) do %><%= message.attendee.username %><% end %></h3>
  <div class="media-body">
    <%= message.message_html %>
    <p><small><%= timeago_tag message.created_at, :limit => 10.days.ago, :lang => :es %></small></p>
  </div>
</div>
<div class="caption">
  
  <%= render partial: "shared/like", locals: {resource: message} %>
  

  <% if message.cached_votes_up > 0 %>
    <p>Le gusta a: 
      <% message.get_upvotes.each_with_index do |vote, i| %>
        <% if i>0 %>, <% end %>
        <%= link_to guest_path(vote.voter) do %><%= vote.voter.username %><% end %>
      <% end %>
    </p>
  <% end %>
  <% if message.cached_votes_down > 0 %>
    <p>No le gusta a: 
      <% message.get_downvotes.each_with_index do |vote, i| %>
        <% if i>0 %>, <% end %>
        <%= link_to guest_path(vote.voter) do %><%= vote.voter.username %><% end %>
      <% end %>
    </p>
  <% end %>
</div>