 <% if message %>
  <div class="col-sm-6 col-md-4">
    <div class="panel panel-default post">
        <%= render partial: "shared/post_panel_heading", locals: {resource: message} %>
        <div class="panel-body">
            <%= message.message_html %>
        </div>
      <%= render partial: "shared/like", locals: {resource: message} %>
      <%= render partial: 'comments/view_all', locals: { commentable: message} %>
      <%= render partial: 'comments/new_comment', locals: { commentable: message } %>
    </div>
  </div>
<% end %>