<div class="col-md-7">
	<div class="panel panel-default guest-profile">
		<%= image_tag guest.avatar.url(:big), class: "media-picture center-block img-responsive", alt: guest.username, data: {original: guest.avatar.url(:big)} %>
		<div class="panel-body text-center">
		  <h2><%= guest.username %></h2>
		  <p><small><strong>¿Quién es?</strong> <%= guest.description.to_s %></small></p>
		</div>
	</div>	
</div>

<div class="col-md-5">
	<%= render partial: "guest_pictures", locals: { guest: guest } %>
</div>


<div class="col-md-5">
	<%= render partial: "guest_messages", locals: { guest: guest } %>
</div>