
      <div class="page-header">
        <h1>Lista de invitados</h1>
      </div>

<table class="table">
  <thead>
    <tr>
            <th>Foto</th>
            <th>Invitado</th>
    </tr>
  </thead>

  <tbody>
    <% @guests.each do |guest| %>
      <% if cycle('odd', 'even') == 'odd' %>
        <% @gris=true %>
      <% else %>
        <% @gris=false %>
      <% end %>
      
      <tr <% if @gris %>
      class='active'
      <% end %>>
        <td rowspan="2"><div class="media">
          <a class="pull-left" href="<%= guest_path(guest) %>">
            <%= image_tag guest.avatar.url(:thumb), class: "media-object", alt: guest.username %>
          </a>
        </div></td>
        <td><a href="<%= guest_path(guest) %>" class="btn btn-link"><%= guest.username %></a></td>
      </tr>
      <tr <% if @gris %>
      class='active'
      <% end %>>
        <td <% if @gris %>
      class='active'
      <% end %>><%= guest.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
<div class="row">
  <div class="col-md-12">
    <%= link_to new_guest_path do %>
      <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Nuevo invitado</button>
    <% end %>
  </div>
</div>
