

<div class="row">
  <div class="col-md-12">
    <%= link_to guests_path do %>
      <button type="button" class="btn"><span class="glyphicon glyphicon-arrow-left"></span> Ver todos</button>
    <% end %>
  </div>
</div>

      <div class="page-header">
        <h1>Perfil de <%= @guest.username %></h1>
      </div>

<div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag @guest.avatar.url(:medium), class: "img-rounded media-picture", alt: @guest.username, data: {original: @guest.avatar.url(:original)} %>
        <div class="caption">
          <h2><%= @guest.username %></h2>
          <p><small><strong>¿Quién es?</strong> <%= @guest.description %></small></p>
        </div>
      </div>
    </div>
</div>

<% if @guest == current_user or can? :update, @guest %>
  <div class="row">
    <div class="col-md-12">
      <%= link_to edit_guest_path do %>
        <button type="button" class="btn"><span class="glyphicon glyphicon-wrench"></span> Editar perfil</button>
      <% end %>
    </div>
  </div>
<% end %>
<br>

<% if @guest == current_user %>
  <div class="row">
    <div class="col-md-12">
      <%= link_to log_out_path do %>
        <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-log-out"></span> Salir</button>
      <% end %>
    </div>
  </div>
<% end %>

</div>