

<div class="row">
  <div class="col-md-12">
    <%= link_to guests_path do %>
      <button type="button" class="btn"><span class="glyphicon glyphicon-arrow-left"></span> Ver todos</button>
    <% end %>
  </div>
</div>

      <div class="page-header">
        <h1>Mi perfil</h1>
      </div>

<div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag @guest.avatar.url, class: "img-rounded", alt: @guest.username %>
        <div class="caption">
          <h2><%= @guest.username %></h2>
          <p><small><strong>¿Quién es?</strong> <%= @guest.description %></small></p>
        </div>
      </div>
    </div>
</div>

<% if @guest == current_user %>
  <div class="row">
    <div class="col-md-12">
      <%= link_to edit_guest_path do %>
        <button type="button" class="btn"><span class="glyphicon glyphicon-wrench"></span> Editar perfil</button>
      <% end %>
    </div>
  </div>
<% end %>
<br>


      <div class="page-header">
        <h3>Sentado en mesa con...</h3>
      </div>

<div class="panel-group" id="accordion">

    <table class="table">
        <thead>
          <tr>
            <th>Foto</th>
            <th>Invitado</th>
          </tr>
        </thead>
        <tbody>
          <% @guest.table.attendees.each do |attendee| %>
            <% if cycle('odd', 'even') == 'odd' %>
              <% @gris=true %>
            <% else %>
              <% @gris=false %>
            <% end %>
            
            <tr <% if @gris %>
            class='active'
            <% end %>>
              <td rowspan="2"><div class="media">
                  <a class="pull-left" href="<%= guest_path(attendee) %>">
                    <%= image_tag attendee.avatar.url(:thumb), class: "media-object", alt: attendee.username %>
                  </a>
                </div></td>
              <td><a href="<%= guest_path(attendee) %>"><%= attendee.username %></a></td>
            </tr>
            <tr <% if @gris %>
            class='active'
            <% end %>>
              <td><%= attendee.description %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>


<% if @guest == current_user %>
  <div class="row">
    <div class="col-md-12">
      <%= link_to log_out_path do %>
        <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-log-out"></span> Salir</button>
      <% end %>
    </div>
  </div>
<% end %>

</div>