<p id="notice"><%= notice %></p>
<p>
  <strong>Username:</strong>
  <%= @guest.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @guest.password %>
</p>

<p>
  <strong>Type:</strong>
  <%= @guest.type %>
</p>

<p>
  <strong>Table:</strong>
  <%= @guest.table %>
</p>

<p>
  <strong>Description:</strong>
  <%= @guest.description %>
</p>

<%= link_to 'Edit', edit_guest_path(@guest) %> |
<%= link_to 'Back', guests_path %>
