<%= form_for commentable.comments.build do |f| %>
    <div class="input-group new-comment">
        <%= f.text_field :comment, class: 'form-control', placeholder: 'Escribe un comentario...' %>
        <%= f.hidden_field :commentable_id %>
        <%= f.hidden_field :commentable_type %>
        <span class="input-group-btn">
            <%= f.button "", class: 'btn btn-default' do %>
                <span class="glyphicon glyphicon-comment"></span>
            <% end %>
        </span>
    </div>
<% end %>
