<div class="navbar  navbar-fixed-top navbar-main" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, class: "navbar-brand" do %>
            <%= image_tag "dys.png" %>
            <span><%= raw @current_attendee.wedding.wedding_title %></span>
          <% end %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="<%= 'active' if params[:controller] == 'pages' and params[:action] == 'home' %>">
                <%= link_to root_path do %>
                    <span class="glyphicon glyphicon-heart"></span> Novios
                <% end %>
            </li>
            <li class="<%= 'active' if params[:controller] == 'messages' %>">
                <%= link_to messages_path do %>
                    <span class="glyphicon glyphicon-comment"></span> Mensajes
                <% end %>
            </li>
            <li class="<%= 'active' if params[:controller] == 'pictures' %>">
                <%= link_to pictures_path do %>
                    <span class="glyphicon glyphicon-picture"></span> Fotos
                <% end %>
            </li>
            <li class="<%= 'active' if params[:controller] == 'dances' %>">
                <%= link_to dances_path do %>
                    <span class="glyphicon glyphicon-bullhorn"></span> Baile
                <% end %>
            </li>
            <li class="<%= 'active' if ['wedding', 'events'].include? params[:action] %>">
                <%= link_to events_path do %>
                    <span class="glyphicon glyphicon-calendar"></span> Planing
                <% end %>
            </li>
            <li class="<%= 'active' if ['guests', 'guests'].include? params[:controller] %>">
                <%= link_to guests_path do %>
                    <span class="glyphicon glyphicon-list-alt"></span> Invitados
                <% end %>
            </li>
            <li>
            <% if current_attendee %>
                <%= link_to account_path do %>
                    <span class="glyphicon glyphicon-user"></span> Mi perfil
                <% end %>
            <% end %>
            </li>

            <li class="<%= 'active' if ['notifications'].include? params[:controller] %>">
                <% notifications_count = Notification.where(attendee: current_attendee, read: false).count %>
                <%= link_to notifications_path do %>
                    <span class="glyphicon glyphicon-inbox"></span> Notificaciones 
                    <% if notifications_count > 0 %>
                        <span class="badge progress-bar-danger"><%= notifications_count %></span>
                    <% end %>
                <% end %>
            </li>


            <li>
                <% if current_attendee.wedding.is_demo_wedding? %>
                  <%= link_to log_out_path do %>
                    <span class="glyphicon glyphicon-log-out"></span> Salir
                  <% end %>
                <% end %>
            </li>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </div>