<% content_for :javascript_includes do %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkE2Uy5HdcOegLypxtsL9x9-c5Zmz_71Y"></script>
  <%= javascript_include_tag "event_form_map" %>
<% end %>

<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :name, class: 'form-control', placeholder: 'Título' %>
  </div>
  <div class="form-group">
    <%= f.label :datetime, "Fecha", class: "control-label" %>
    <div class="col-sm-12 form-inline">
      <%= f.datetime_select :datetime, {:minute_step => 15}, {class: 'form-control'} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.text_area :description, class: 'form-control', placeholder: 'Descripción' %>
  </div>
  
  <%= f.fields_for :location do |location_form| %>
    <div class="form-group map-container">
      <div id="map-canvas" class="form-map"></div>
    </div>
    <div class="form-group">
        <%= location_form.text_field :name, class: 'form-control', placeholder: 'Nombre del lugar' %>
    </div>
    <div class="form-group">
        <%= location_form.text_field :address, class: 'form-control', placeholder: 'Dirección' %>
    </div>
  <% end %>
  <%= button_tag(type: 'submit', class: "btn btn-success botonSubmit") do %>
   <span class="glyphicon glyphicon-cloud-upload"></span> Crear evento
  <% end %>
  <%= link_to 'Cancelar', events_path, class:"btn btn-link" %>
<% end %>

