<% content_for :javascript_includes do %>
  <%= javascript_tag do %>
    window.autocomplete_source = <%= raw @autocomplete_data.to_json %>;
  <% end %>
  <%= javascript_include_tag "autocompletion_dance" %>
<% end %>

<%= form_for(@dance) do |f| %>
  <% if @dance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dance.errors.count, "error") %> prohibited this dance from being saved:</h2>

      <ul>
      <% @dance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :partner %><br>
    <%= f.text_field :partner, class: 'typeahead form-control' %>
    <%= f.hidden_field :partner_id, id: "partner-id" %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.time_select :time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
