<%= form_for(@dance) do |f| %>
  <% if @dance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dance.errors.count, "error") %> prohibited this dance from being saved:</h2>

      <ul>
      <% @dance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
      <% @wedding.attendees.each do |attendee| %>
        <div class="col-sm-3 col-md-3">
          <div class="panel panel-default new-dance-box">
              <div class="panel-heading">
                <%= f.label :partner_id, attendee.username, class:"center-block text-center btn", for: "partner-#{attendee.id}" do %>
                  <%= image_tag attendee.avatar.url(:medium), class: "img-responsive center-block", alt: attendee.username %>
                  <%= f.radio_button :partner_id, attendee.id, id: "partner-#{attendee.id}" %> <%= attendee.username %>
                <% end %>
              </div>
          </div>
        </div>
      <% end %>
  </div>

  <div class="form-group flotanteArriba">
    <div class="container">
      <%= f.button(:submit, class: "btn btn-success botonSubmit") do %>
       <span class="glyphicon glyphicon-cloud-upload"></span> Confirmar pareja
      <% end %>

      <%= link_to 'Cancelar', dances_path, class:"btn btn-default" %>
    </div>
  </div>

<% end %>
