<% content_for :javascript_includes do %>
  <%= javascript_tag do %>
    $(function(){
      $('li.attendee').on('click', function(ev){
        ev.preventDefault();
        var selectedId = $(this).data('id');
        $('#partner-id').val(selectedId);
        $('#new_dance').submit();
      });
    });
  <% end %>
<% end %>

<%= form_for(@dance) do |f| %>
  <% if @dance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dance.errors.count, "error") %> prohibited this dance from being saved:</h2>

      <ul>
      <% @dance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
      <% @wedding.attendees.each do |attendee| %>
        <div class="col-sm-3 col-md-3 divElegirPareja">
          <%= f.label :partner_id, attendee.username, class:"btn btn-default", for: "partner-#{attendee.id}" do %>
            <%= image_tag attendee.avatar.url(:medium), class: "media-object", alt: attendee.username %>
          <%= f.radio_button :partner_id, attendee.id, id: "partner-#{attendee.id}" %> <%= attendee.username %>
          <% end %>
        </div>
      <% end %>
  </div>

  <div class="form-group flotanteArriba">
    <div class="container">
      <%= button_tag(type: 'submit', class: "btn btn-success botonSubmit") do %>
       <span class="glyphicon glyphicon-cloud-upload"></span> Confirmar pareja
      <% end %>

      <%= link_to 'Cancelar', dances_path, class:"btn btn-default" %>
    </div>
  </div>

<% end %>
