<div class="col-md-4 dances-list-container">
  <h1>Elige a tu pareja</h1>


  <div class="row">
    <div class="col-md-12">
      <%= link_to new_dance_path do %>
        <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Invita a bailar</button>
      <% end %>
    </div>
  </div>

  <div class="alert alert-warning">
    <strong>¡Elige a tu pareja!</strong> Busca entre los invitados y elige la pareja (o parejas) con la que te gustaría bailar. Si te elige...¡tendréis vuestro gran momento!
  </div>
    
  <h3>Parejas correspondidas</h3>
  
    <% if @matches.size > 0
      @matches.each do |m| %>
        <%= render(partial: "partner", locals: { partner: m.partner}) %>
      <% end %>
    <% else %>
      <p>
        No tienes pareja... de momento!
      </p>
    <% end %>
  


  <h3>¿Quién te ha elegido?</h3>
  
    <% if @partner_of.size > 0 
      @partner_of.each do |p| %>
        <%= render(partial: "partner", locals: { partner: p.attendee}) %>
      <% end %>
    <% else %>
      <p>
        Nadie te ha elegido aún
      </p>
    <% end %>
  

  
  <h3>¿A quién has elegido?</h3>
  
    <% if @dances.size > 0
      @dances.each do |p| %>
        <%= render(partial: "partner", locals: { partner: p.partner}) %>
      <% end %>
    <% else %>
      <p>
        Aún no has invitado a nadie a bailar... !A qué esperas!
      </p>
    <% end %>

  <br />
  

  <div class="row">
    <div class="col-md-12">
      <%= link_to new_dance_path do %>
        <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Invita a bailar</button>
      <% end %>
    </div>
  </div>
</div>


<div class="col-md-8 songs-list-container">
  <h1>Vota las canciones</h1>

  <div class="row">
    <div class="col-md-12">
      <%= link_to new_song_path do %>
        <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Proponer canción</button>
      <% end %>
    </div>
  </div>

  <div class="alert alert-warning">
      <strong>¡Pincha a tu gusto!</strong> 
      Vota por las canciones que más te gusten y provoca que sean las más sonadas en la boda. Si no encuentras tu favorita, añádela!
  </div>

  <%= render partial: "songs/song_list", locals: {songs: @songs} %>
</div>
