

<div class="page-header">
  <h1>Parejas correspondidas</h1>
</div>


<div class="row">
  <div class="col-md-12">
    <%= link_to new_dance_path do %>
      <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Elegir pareja</button>
    <% end %>
  </div>
</div>

  <div class="alert alert-warning">
    <strong>¡Elige a tu pareja!</strong> Busca entre los invitados y elige la pareja (o parejas) con la que te gustaría bailar. Si te elige...¡tendréis vuestro gran momento!
  </div>
  
<table class="table">
  <thead>
    <tr>
      <th>Foto</th>
      <th>Nombre</th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |dance| %>
      <% if cycle('odd', 'even') == 'odd' %>
        <% @gris=true %>
      <% else %>
        <% @gris=false %>
      <% end %>
      
      <tr <% if @gris %>
      class='active'
      <% end %>>
        <td rowspan="2"><div class="media">
          <a class="pull-left" href="<%= guest_path(dance.partner) %>">
            <%= image_tag dance.partner.avatar.url(:thumb), class: "media-object", alt: dance.partner.username %>
          </a>
        </div></td>
        <td><a href="<%= guest_path(dance.partner) %>" class="btn btn-link"><%= dance.partner.username %></a></td>
      </tr>
      <tr <% if @gris %>
      class='active'
      <% end %>>
        <td <% if @gris %>
      class='active'
      <% end %>><%= dance.partner.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>
  <div class="page-header">
    <h1>¿Quén me ha elegido?</h1>
  </div>


<table class="table">
  <thead>
    <tr>
      <th>Foto</th>
      <th>Nombre</th>
    </tr>
  </thead>

  <tbody>
    <% @partner_of.each do |dance| %>
      <% if cycle('odd', 'even') == 'odd' %>
        <% @gris=true %>
      <% else %>
        <% @gris=false %>
      <% end %>
      
      <tr <% if @gris %>
      class='active'
      <% end %>>
        <td rowspan="2"><div class="media">
          <a class="pull-left" href="<%= guest_path(dance.attendee) %>">
            <%= image_tag dance.attendee.avatar.url(:thumb), class: "media-object", alt: dance.attendee.username %>
          </a>
        </div></td>
        <td><a href="<%= guest_path(dance.attendee) %>" class="btn btn-link"><%= dance.attendee.username %></a></td>
      </tr>
      <tr <% if @gris %>
      class='active'
      <% end %>>
        <td <% if @gris %>
      class='active'
      <% end %>><%= dance.attendee.description %> <%= link_to 'Borrar', dance, class:"btn btn-link", method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>




<br><br>
  <div class="page-header">
    <h1>Mis parejas de baile</h1>
  </div>


<table class="table">
  <thead>
    <tr>
      <th>Foto</th>
      <th>Nombre</th>
    </tr>
  </thead>

  <tbody>
    <% @dances.each do |dance| %>
      <% if cycle('odd', 'even') == 'odd' %>
        <% @gris=true %>
      <% else %>
        <% @gris=false %>
      <% end %>
      
      <tr <% if @gris %>
      class='active'
      <% end %>>
        <td rowspan="2"><div class="media">
          <a class="pull-left" href="<%= guest_path(dance.partner) %>">
            <%= image_tag dance.partner.avatar.url(:thumb), class: "media-object", alt: dance.partner.username %>
          </a>
        </div></td>
        <td><a href="<%= guest_path(dance.partner) %>" class="btn btn-link"><%= dance.partner.username %></a></td>
      </tr>
      <tr <% if @gris %>
      class='active'
      <% end %>>
        <td <% if @gris %>
      class='active'
      <% end %>><%= dance.partner.description %> <%= link_to 'Borrar', dance, class:"btn btn-link", method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
<div class="row">
  <div class="col-md-12">
    <%= link_to new_dance_path do %>
      <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Elegir pareja</button>
    <% end %>
  </div>
</div>
<br><br>


<div class="page-header">
  <h1>Vota las canciones</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to new_song_path do %>
      <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Proponer canción</button>
    <% end %>
  </div>
</div>

<div class="alert alert-warning">
    <strong>¡Pincha a tu gusto!</strong> 
    Vota por las canciones que más te gusten y provoca que sean las más sonadas en la boda. Si no encuentras tu favorita, añádela!
</div>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Artista</th>
      <th>Canción</th>
    </tr>
  </thead>
  <tbody>

    <% @songs = @songs.sort_by {|s| s.cached_votes_down - s.cached_votes_up }
      @songs.each_with_index do |song, index| %>
      <% if cycle('odd', 'even') == 'odd' %>
        <% @gris=true %>
      <% else %>
        <% @gris=false %>
      <% end %>
      <tr <% if @gris %>
      class='active'
      <% end %>>
        <td rowspan="2"><%= index+1 %></td>
        <td><%= song.artist %></td>
        <td><%= song.title %></td>
      </tr>
      <tr <% if @gris %>
      class='active'
      <% end %>>
        <% disabled = current_user.voted_for?(song) ? "disabled" : nil %>
        <td>
          <%= link_to upvote_song_path(song), method: :post, class: "btn btn-link",
                role: "button", disabled: disabled do %>
            <span class="glyphicon glyphicon-thumbs-up"></span> Me gusta (<%= song.cached_votes_up %>)
          <% end %>
        </td>
        <td>
          <%= link_to downvote_song_path(song), method: :post, class: "btn btn-link",
                role: "button", disabled: disabled  do %>
            <span class="glyphicon glyphicon-thumbs-down"></span> No me gusta (<%= song.cached_votes_down %>)
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="row">
  <div class="col-md-12">
    <%= link_to new_song_path do %>
      <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Proponer canción</button>
    <% end %>
  </div>
</div>