
<div class="row">
  <div class="col-md-12">
    <%= link_to dances_path do %>
      <button type="button" class="btn"><span class="glyphicon glyphicon-arrow-left"></span> Ver todos</button>
    <% end %>
  </div>
</div>

<p>
  <strong>User:</strong>
  <%= @dance.attendee %>
</p>

<p>
  <strong>Partner:</strong>
  <%= @dance.partner %>
</p>

<p>
  <strong>Time:</strong>
  <%= @dance.time %>
</p>

<%= link_to 'Edit', edit_dance_path(@dance) %> |
<%= link_to 'Back', dances_path %>
