<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="favicon.ico">
  <title>Boda Diego & Sandra</title>
  <%= stylesheet_link_tag    "gallery", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "gallery", "data-turbolinks-track" => true %>
  
	<%= javascript_tag do %>
		window.pictures_urls = <%= raw @pictures_urls.to_json %>;
	<% end %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
<h1>Ponlle o que che saia do carallo</h1>
<p>
En gallery.js podes escribir o teu JavaScript. Xa tés jQuery, Bootstrap, etc.
</p>

<p>
	Se queres añadir CSS, en gallery.css.scss, debaixo do import de Bootstrap.
</p>

<p>
Para acceder ás URLs das imaxes, hai unha variable JSON: window.pictures_urls. É un array de URLs que ven ordenado por data de creación. Se o queres ordenado por número de votos, tés que  pasarlle a esta URL o parámetro 'order' con 'votes', é dicir: /gallery?order=votes
</p>

</div>
</body>
</html>