<% content_for :javascript_includes do %>
  <%= javascript_include_tag "infinite_scroll" %>
<% end %>

<%= render partial: 'home_cover', locals: {wedding: @wedding} %>    

<div class="row container-fluid home-main">
    <div class="col-md-3 home-col">
        <%= render partial: 'messages/new_thumb', locals: {message: @message} %>    
    </div>
    <div class="col-md-9 container-fluid home-col last-activity">
        <%= render partial: 'last_activity', locals: {resources: @resources} %>    
    </div>
</div>


<div id="spinner" class="row">
    <%= image_tag "spinner.gif", class: "center-block" %>
</div>
