<% content_for :javascript_includes do %>
  <%= javascript_tag do %>
    window.autocomplete_source = <%= raw @autocomplete_data.to_json %>;
  <% end %>
  <script id="new-attendee-template" type="text/template">
    <%= render 'new_attendee' %>
  </script>
  <%= javascript_include_tag "autocompletion" %>
<% end %>


<%= form_for(@table) do |f| %>
  <% if @table.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@table.errors.count, "error") %> prohibited this table from being saved:</h2>

      <ul>
      <% @table.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a data-toggle="collapse" data-parent="#accordion">
        <h4 class="panel-title">
          <%= f.label :name %><br>
          <%= f.text_field :name, class: 'form-control' %>
        </h4>
      </a>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Invitados</th>
            </tr>
          </thead>
          <tbody>
            <% @table.attendees.each do |attendee| %>
                <%= render 'new_attendee', {attendee: attendee} %>
            <% end %>
            <%= render 'new_attendee' %>

          </tbody>
        </table>
        
            <%= link_to 'Nuevo invitado en mesa', 'javascript:void(0)', class: 'add-new-attendee' %>
      </div>
    </div>
  </div>
  
  <%= button_tag(type: 'submit', class: "btn btn-success botonSubmit") do %>
   <span class="glyphicon glyphicon-cloud-upload"></span> Guardar mesa
  <% end %>

  <%= link_to 'Cancelar', tables_path, class:"btn btn-link" %>
<% end %>
