<div class="panel panel-default">
  <div class="panel-heading">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne-<%= table.name %>">
      <h4 class="panel-title">
        <%= table.name %>
      </h4>
    </a>
    <% if can? :update, table %>
      <%= link_to 'Editar', edit_table_path(table) %>
    <% end %>
  </div>
  <div id="collapseOne-<%= table.name %>" class="panel-collapse collapse in">
    <div class="panel-body">
      <% table.attendees.each do |attendee| %>
        <div class="col-md-3">
          <%= render partial: 'guests/guest_thumb', locals: {guest: attendee} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
  