<%= form_for(@picture) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :image, 'Escoger foto' %><br>
    <%= f.file_field :image %>
  </div>
  <div class="form-group">
    <%= f.label :name, 'Comentario' %><br>
    <%= f.text_area :name, class:'form-control', rows:'3' %>
  </div>

  <%= button_tag(type: 'submit', class: "btn btn-success") do %>
   <span class="glyphicon glyphicon-cloud-upload"></span> Subir foto
  <% end %>

  <%= link_to 'Cancelar', pictures_path, class:"btn btn-link" %>
<% end %>