<% content_for :javascript_includes do %>
  <%= javascript_include_tag "infinite_scroll" %>
<% end %>
  <div class="row">
    <div class="col-md-12">
    	<%= link_to new_picture_path do %>
      		<button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Subir nueva foto</button>
    	<% end -%>
    </div>
  </div>


  <div class="page-header">
    <h1>Fotos de invitados</h1>
  </div>


<div class="row container">
<%= render partial: 'pictures', object: @pictures %>
</div>
<div id="spinner" class="row">
    <%= image_tag "spinner.gif", class: "center-block" %>
</div>



  <div class="row">
    <div class="col-md-12">
    	<%= link_to new_picture_path do %>
      		<button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Subir nueva foto</button>
    	<% end -%>
    </div>
  </div>