
<div class="row">
  <div class="col-md-12">
    <%= link_to pictures_path do %>
      <button type="button" class="btn"><span class="glyphicon glyphicon-arrow-left"></span> Ver todas</button>
    <% end %>
  </div>
</div>

<p>
  <strong>Name:</strong>
  <%= @picture.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @picture.attendee.username %>
</p>

<p>
  <strong>Upvotes:</strong>
  <%= @picture.votes_for.up.size %>
</p>

<p>
  <strong>Downvotes:</strong>
  <%= @picture.votes_for.down.size %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Upvote', upvote_picture_path(@picture), method: :post %> |
<%= link_to 'Downvote', downvote_picture_path(@picture), method: :post %>
