
<%= form_for @wedding, url: {action: "update", method: "patch"}, html: {method: "patch"} do |f| %>
  <div class="form-group">
    <%= f.label :cover_image, 'Escoge tu foto de portada' %><br>
    <%= f.file_field :cover_image %>
  </div>

  <%= button_tag(type: 'submit', class: "btn btn-success botonSubmit") do %>
   <span class="glyphicon glyphicon-cloud-upload"></span> Subir foto
  <% end %>

  <%= link_to 'Cancelar', home_path, class:"btn btn-link" %>
<% end %>