<%= form_for(@wedding) do |f| %>
  <% if @wedding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wedding.errors.count, "error") %> prohibited this wedding from being saved:</h2>

      <ul>
      <% @wedding.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :cover_image, 'Escoger foto' %><br>
    <%= f.file_field :cover_image %>
  </div>

  <%= button_tag(type: 'submit', class: "btn btn-success botonSubmit") do %>
   <span class="glyphicon glyphicon-cloud-upload"></span> Subir foto
  <% end %>

  <%= link_to 'Cancelar', home_path, class:"btn btn-link" %>
<% end %>
